

#placeholder-canvas{

    border-radius: 120px;
    background-color:#575656;
    width:150px;
    height:150px;
    border-radius: 50%;
    margin-left: 95px;
    margin-top: 70px;
    margin-bottom: -172px;
    margin-right: auto;
    padding: 10px;
    position:relative;

}



div a {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container{
  background-image: url("/images/oranger.svg");
  position:relative;
  padding-bottom: 60px;
  position:relative;



}

.main{
  padding-bottom: 50px;

}


header h1{
text-align: center;
line-height: 40px;
width 100%;
}


p img {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.imgg{
  margin-left: 65px;
  margin-right: auto;
  padding: 10px;

}

.img-circle {
    border-radius: 50%;
    margin-left: 95px;
    margin-right: auto;
    padding: 10px;
    position: relative;


}

label input{
  border-radius: 10px;
  width:300px;
  height:40px;
  border: 0 none;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
}



form {
  margin-left: auto;
  margin-right: auto;
  background-color: #DCE0D9;
  width:350px;
  position:relative;
}



footer {
  color: #BC261D;
  font-size: 20px;
  background-color: #DCE0D9;
  height: 40px;
  margin-top: 200px;
  padding: 1%;
  text-align: center;
  font-weight: 300;
  font-size: 25px;
  -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
    }


footer h5 {
      text-align: center;
      line-height: 40px;
      width 100%;
      font-size: 12px;

    }
