

#placeholder-canvas{

    border-radius: 120px;
    background-color:#575656;
    width:150px;
    height:150px;
    border-radius: 50%;
    margin-left: 95px;
    margin-top: 70px;
    margin-bottom: -172px;
    margin-right: auto;
    padding: 10px;
    position:relative;
    border: none;
    outline: none;
}

div a{

  color: #DCE0D9;
  text-decoration: none;
}


.footertext {
  text-align: center;
  margin-top: 30px;
  margin-right: auto;
  color: #DCE0D9;
  margin-bottom: 100px;
  text-decoration: none;
}

.container{
  background-image: url("/images/oranger.svg");
  position:relative;
  padding-bottom: 60px;
  position:relative;
}

.main{
  padding-bottom: 50px;

}

header h1{
text-align: center;
line-height: 40px;
width 100%;
}


p img {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.imgg{
  margin-left: 65px;
  margin-right: auto;
  padding: 10px;
  border:none;
  outline: none;

}

.img-circle {
    border-radius: 50%;
    margin-left: 95px;
    margin-right: auto;
    padding: 10px;
    position: relative;
    height= 150px;
    width= 150px;
}

label input{
  border-radius: 10px;
  margin-left: 25px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  width:255px;
  height:32px;
  border: 0 none;
  padding: 10px;

  font-size: 18px;
}


p a{

  padding-left: 15px;
  color: #BC261D;
  line-height: 50px;
}

form {
  margin-left: auto;
  margin-right: auto;
  background-color: #DCE0D9;
  width:350px;
  height:740px;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
  position:relative;
}

.submit {

  color: white;
  font-weight: 300;
  background-color: #BC261D;
  width: 275px;
  height: 30px;
  border-radius: 6px;
  margin: 15px 25px;
  padding-top: 6px;
  text-align: center;

}

footer {
  color: #BC261D;
  font-size: 20px;
  background-color: #DCE0D9;
  height: 40px;
  margin-top: 200px;
  padding: 1%;
  text-align: center;
  font-weight: 300;
  font-size: 25px;
  -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
    }


footer h5 {
      text-align: center;
      line-height: 40px;
      width 100%;
      font-size: 12px;

    }
