* {
  -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
}

body {
  font: #FFFFFF;
  font-family: 'open sans';
}

header h1 {
  color: #BC261D;
  font-size: 20px;
  background-color: #DCE0D9;
  height: 40px;
  padding: 1%;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;

}

#triangle {
  background-image: url("../images/pattern.svg");
  background-repeat: no-repeat;
  height: 250px;
}

#triangle2 {
  background-image: url("../images/pattern.svg");
  background-repeat: no-repeat;
  height: 200px;
}

.one {
  float: right;
  max-width: 30%;
  position: relative;
  color: white;
  padding-right: 5%;
}

.one h3 {
  font-weight: 300;
  font-size: 15px;
  line-height: 60px;
}

.one p {
  font-weight: 400;
  font-size: 50px;
}

.one li {
  display: inline-block;
  margin-left: -40px;
  margin-right: 8%;
}

.button {
  background-color: #BC261D;
  border-radius: 5px;
  padding: 5px 30px;
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  margin-top: 15%;
  margin-right: 30px;
  margin-left: 0;
}

.center h2 {
  font-weight: 300;
  font-size: 28px;
  text-align: center;
  position: relative;
  padding-top: 3%;
  padding-bottom: 3%;
}

.two {
  color: #FFFFFF;
  font-weight: 300;
  float: left;
}

.two ul li{
display: inline-block;
  width: 22%;
  padding: 0% 5%;
}

.button2 {
  background-color: #BC261D;
  border-radius: 5px;
  padding: 5px;
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  margin-top: 7%;
}

.two h3 {
  font-weight: 300;
  font-size: 15px;
  line-height: 60px;
}

.two p {
  font-weight: 300;
  font-size: 13px;
}

footer {
  text-align: center;
  padding: 2% 0;
  position: relative;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
