
body {
  font: #FFFFFF;
  font-family: 'open sans';
}

header h1 {
  color: #BC261D;
  font-size: 20px;
}

#triangle {
  background-image: url("../images/pattern_matchmaker.svg");
  background-repeat: no-repeat;
}

.one {
  float: right;
  width: 30%;
  position: relative;
}

.one ul li {
  display: inline-block;
}

.two {
  width: 100%;
  position: relative;
  padding-top: 10%;


}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
