

<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Matchmaker Login Page">
    	<meta name="keywords" content="General Assembly, Javascript, JS">

		<title>SignUp Page</title>

		<!-- external CSS link -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/login2.css">
		<script src="/js/components/login2.js"></script>
	</head>


	<body>
		<div class="container">

		<header><h1>Startup Matchmaker</h1></header>
		<form name="newuser" method="get">

	<label><input tabindex="2" type="text" placeholder="username" id="username" value="username" name="username"></label>
	<label><input tabindex="3" type="password" placeholder="password" id="password" value="password" name="password" data-psswrd-toggle></label>
	<label><input class="submit" tabindex="6" type="submit" name="submit" value="Login" onclick="getFormValues(this.form)"></label>
	<p><a href="#"> Already have an account?<p>
</form>

<div class="footertext"><a href="#"> &#169; 2015 Startup Matchmaker. Made in L.A.</a></div>

</div>





	</body>
</html>
