<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Matchmaker Signup Page">
    	<meta name="keywords" content="General Assembly, Javascript, JS">

		<title>SignUp Page</title>

		<!-- external CSS link -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/style.css">
		<script src="/js/components/signup.js"></script>


	</head>
	<body>
		<div class="container">
			<div class="main" >
		<header><h2>Startup Matchmaker</h2></header>
			<form name="newuser" action="" method="get">
					<fieldset>
<p>	avatar: <input type="file" name="avatar" value="get file" size="25" maxlength="50" /></p>
<p> <input type="text" onfocus="if (this.value=='email') this.value = ''" type="text" value="email"name="email" size="25" maxlength="50" /></p>
<p> <input type="text" onfocus="if (this.value=='user name') this.value = ''" type="text" value="user name"name="username" value="admin" size="25" maxlength="50" /></p>
<p>	<input type="password" onfocus="if (this.value=='password') this.value = ''" type="text" value="password"name="password" value="" size="25" maxlength="50" /></p>
<p>	<input type="text" onfocus="if (this.value=='first name') this.value = ''" type="text" value="first name"name="firstName" value="" size="25" maxlength="50" /></p>
<p>	<input type="text" onfocus="if (this.value=='last name') this.value = ''" type="text" value="last name"name="lastName" value="" size="25" maxlength="50" /></p>
<p> <input type="submit" name="submit" value="Create User" onclick="getFormValues(this.form)"/></p>
					</fieldset>
</form>
</div>
</div>

<div><a href="#"> Already have an account?</a></div>


<div> &#169;2015 Startup Matchmaker. Made in LA.</div>
	</body>
</html>
