

<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Matchmaker Signup Page">
    	<meta name="keywords" content="General Assembly, Javascript, JS">

		<title>MM Sign Up</title>

		<!-- external CSS link -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/style.css">
		<script src="/js/components/signup.js"></script>
		<script src="/js/components/xhr.js"></script>
	</head>


	<body>
		<div class="container">

		<header><h1>Startup Matchmaker</h1></header>
		<form name="newuser" method="get">

<canvas id="placeholder-canvas"></canvas>
<p><img class="img-circle" src="" height="150" width="150"></p>
<p><input class="imgg" type="file" onchange="previewFile()"/><p>
	<label><input tabindex="1" type="text" placeholder="email address" id="email"  name="email"></label>
	<label><input tabindex="2" type="text" placeholder="username" id="username"  name="username"></label>
	<label><input tabindex="3" type="password" placeholder="password" id="password"  name="password" data-psswrd-toggle></label>
	<label><input tabindex="4" type="text" placeholder="first name" id="firstName"  name="firstName"></label>
	<label><input tabindex="5" type="text" placeholder="last name" id="lastName"  name="lastName"></label>
	<div class="submit" tabindex="6" onclick="getFormValues()"><a href="js/views/team.html">create user</a></div>
<p><a href="/views/login.html"> Already have an account?<p>
</form>

<div class="footertext"><a href="#"> &#169; 2015 Startup Matchmaker. Made in L.A.</a></div>

</div>





	</body>
</html>
