<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Matchmaker Signup Page">
    	<meta name="keywords" content="General Assembly, Javascript, JS">

		<title>SignUp Page</title>

		<!-- external CSS link -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/signup.js"></script>


	</head>
	<body>
		<div class="container">
			<div class="main">
		<header><h2>Startup Matchmaker</h2></header>
			<form action="" method="post">
		avatar: <input type="file" name="email" value="get file" size="25" maxlength="50" />
    email address: <input type="text" name="email" value="" size="25" maxlength="50" />
    user name: <input type="text" name="user" value="admin" size="25" maxlength="50" />
		password: <input type="password" name="pass" value="" size="25" maxlength="50" />
		first name: <input type="text" name="first" value="" size="25" maxlength="50" />
		last name: <input type="text" name="last" value="" size="25" maxlength="50" />
    <input type="submit" name="submit" value="create user" onclick="postit()"/>
</form>
</div>
</div>

<div><a href="#"> Already have an account?</a></div>

<footer>

<div> &#169;2015 Startup Matchmaker.Made in LA.</div>
	</body>
</html>
